.semicircle {
    border: 7px solid red;
    border-radius: 60px 60px 0 0;
    height: 60px;
    width: 60px;
}

.semicircle1 {
    border: 7px solid red;
    border-radius: 0 0 60px 60px;
    height: 60px;
    width: 60px;
}

.moon {
    border: 7px solid red;
    border-radius: 60px;
    border-top: 0px;
    border-right: 0px;
    height: 60px;
    width: 60px;
}
