.border {
    width: 100vmin;
    height: 100vmin;
    background-color: white;
    box-shadow: inset 0 0 0 5px black,
    inset 0 0 0 9px white,
    inset 0 0 0 13px black,
    inset 0 0 0 24px white,
    inset 0 0 0 28px black,
    inset 0 0 0 32px white,
    inset 0 0 0 37px black;
    position: relative;
}

.top-left, .top-right, .bot-right, .bot-left {
    width: 100px;
    height: 100px;
    background: url("img/top-left.png") no-repeat;
    position: absolute;
}

.top-right {
    top: 0;
    right: 0;
    transform: rotate(90deg);
}

.bot-right {
    bottom: 0;
    right: 0;
    transform: rotate(180deg);
}

.bot-left {
    bottom: 0;
    transform: rotate(270deg);
}
