body {
    background-color: white;
}

.card1 {
    background-image: url('https://raw.githubusercontent.com/antonkulakov-it/library/master/cards2.png');
    background-repeat: no-repeat;
    background-position: -285px -190px;
    overflow: hidden;
    width: 147px;
    height: 196px;
    position: absolute;
    z-index: 10;
}

.card2 {
    background-image: url('https://raw.githubusercontent.com/antonkulakov-it/library/master/cards2.png');
    background-repeat: no-repeat;
    background-position: -142px -965px;
    overflow: hidden;
    width: 147px;
    height: 196px;
    position: absolute;
    margin: 30px;
    z-index: 5;
}

.card3 {
    background-image: url('https://raw.githubusercontent.com/antonkulakov-it/library/master/cards2.png');
    background-repeat: no-repeat;
    background-position: -430px -2323px;
    overflow: hidden;
    width: 144px;
    height: 196px;
    position: absolute;
    margin: 60px;
    z-index: 0
}
