.row {
    counter-reset: number;
}

.row>div {
    display: inline-block;
}

.row>div:before {
    counter-increment: number;
    content: counter(number);
    display: block;
    transition: transform 0.3s;
}

.row:nth-of-type(2):hover>div:nth-of-type(2):before {
    transform: translateX(12px);
}

.row:nth-of-type(2):hover>div:nth-of-type(3):before {
    transform: translateX(-12px);
}

.row:nth-of-type(3):hover>div:first-child:before {
    transform: translateX(12px);
}

.row:nth-of-type(3):hover>div:nth-of-type(2):before {
    transform: translateX(-12px);
}

.row:nth-of-type(4):hover>div:first-child:before {
    transform: translateX(24px);
}

.row:nth-of-type(4):hover>div:nth-of-type(2):before {
    transform: translateX(-11px);
}

.row:nth-of-type(4):hover>div:last-child:before {
    transform: translateX(-11px);
}

.row:nth-of-type(5):hover>div:first-child:before {
    transform: translateX(12px);
}

.row:nth-of-type(5):hover>div:nth-of-type(2):before {
    transform: translateX(12px);
}

.row:nth-of-type(5):hover>div:last-child:before {
    transform: translateX(-24px);
}

.row:nth-of-type(6):hover>div:first-child:before {
    transform: translateX(24px);
}

.row:nth-of-type(6):hover>div:last-child:before {
    transform: translateX(-24px);
}
